@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos-slide-track {
  display: flex;
  animation: slide 20s linear infinite;
  width: fit-content;
}

.logos-slide-track:hover {
  animation-play-state: paused;
}

.logo-slide {
  transition: all 0.3s ease;
}

.logo-slide:hover {
  transform: scale(1.1);
}
